<div class="bc">
<div class="container">
  <div class="row">
    <p class="h4 offset-2 text-secondary"><%= @item.name %> のレビュー 一覧</p>
  </div>

  <div class="row">
    <% @comments.each do |comment| %>
    <div class="card col-8 offset-2 mt-2">
    <p class="mb-auto mt-2 text-secondary">投稿者：<%= link_to comment.customer.nickname, admin_customer_path(comment.customer) %> さん</p>
    <div id="rate-<%= comment.id %>"></div>
    <script>
          $('#rate-<%= comment.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            score: <%= comment.rate %>,
        });
    </script>
    <p class="border-top mt-2 text-secondary">レビュー：<%= comment.comment_content %></p>
    <div class="button text-right mb-2">
    <%= link_to "編集", edit_admin_comment_path(comment), class: 'btn btn-outline-success' %>
    <%= link_to "削除", admin_comment_path(comment), method: :delete, class: 'btn btn-outline-danger' %>
    </div>
   </div>
   <% end %>
 </div>
</div>
</div>