 <div class="container">
  <%= form_with(model: @contact, local: true) do |f| %>
    <div class='row'>
        <p class='title col-8 offset-2 text-center'>お問い合わせフォーム</p>
    </div>

    <div class="row">
      <div class="offset-4 text-danger">
      <% if @contact.errors.any? %>
        <div id="error_explanation">
          <ul><% @contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      </div>
      <div class="col-8 offset-2 text-center">
        <div class="contact-form">
            <div class="correct-text-field">
              <%= f.text_field :name, placeholder: "お名前", class: "input-form", size:"50" %>
            </div>
            <div class="correct-text-field mt-3">
              <%= f.email_field :email, placeholder: "メールアドレス", class: "input-form", size:"50" %>
            </div>
            <div class="correct-text-field mt-3">
              <%= f.text_area :content, placeholder: "お問合せ内容を入力してください", class: "input-form", size: "50x5" %>
            </div>
            <div class="col-4 offset-4 mt-3">
                <%= f.submit "送信", class: 'btn btn-outline-success btn-block' %>
              </div>
              <div class="col-4 offset-4 mt-3">
                <%= link_to "トップページへ", root_path, class:'btn btn-outline-secondary btn-block' %>
              </div>
            </div>
        </div>
      </div>
  </div>
 <% end %>
</div>
