
<div class="container">
 <div class="row">
  <p class="title col-2 offset-1 px-4">商品編集</p>
 </div>


<%= form_with model: @item, url: admin_item_path(@item.id), local:true do |f| %>
<div class="row">
 <div class="col-2 offset-2 mt-3">
  <p>商品画像</p>
 </div>
 <div class="col-4 mt-3">
  <%= f.file_field :image_id, accept: "image/*" %>
 </div>
</div>

<div class="row">
 <div class="col-2 offset-2 mt-3">
  <p>商品名</p>
 </div>
 <div class="col-4 mt-3">
  <%= f.text_field :name %>
 </div>
</div>

<div class="row">
 <div class="col-2 offset-2 mt-3">
  <p>容量</p>
 </div>
 <div class="col-4 mt-3">
  <%= f.text_field :volume %>
 </div>
</div>

<div class="row">
 <div class="col-2 offset-2 mt-3">
  <p>商品説明</p>
 </div>
 <div class="col-4 mt-3">
  <%= f.text_area :introduction %>
 </div>
</div>
<div class="row">
 <div class="col-2 offset-2 mt-3">
  <p>税抜価格</p>
 </div>
 <div class="col-4 mt-3">
  <%= f.text_field :price %>円
 </div>
</div>
<div class="row">
 <div class="col-2 offset-2 mt-3">
  <p>商品ジャンル</p>
 </div>
 <div class="col-4 mt-3">
   <%= f.radio_button :blend_flag, true %>
   <%= f.label :blend_flag,"ブレンド商品", value: true %>
   <%= f.radio_button :blend_flag, false %>
   <%= f.label :blend_flag,"通常商品", value: false %><br>
 </div>
</div>

<div class="row">
 <div class="col-2 offset-3 mt-3"></div>
  <%= f.submit :変更を保存, class: 'btn btn-outline-success  py-2 px-4' %>
 </div>
</div>
<% end %>
</div>
