<div class="bc">
<div class="container">
  <div class="row">
   <p class="h4 col-2 offset-2 mb-4 text-secondary">商品一覧</p>
  </div>

  <div class="row">
    <div class="col-2 offset-2 mt-2">
      <%= link_to "商品登録", new_admin_item_path, class: "btn btn-outline-success " %>
    </div>
  </div>

  <div class="row">
    <table class="col-8 offset-2 mt-3 text-secondary table-hover table-striped center-block">
      <thead>
        <tr>
         <th class="py-2 px-4">商品ID</th>
         <th class="py-2 px-4">商品名</th>
         <th class="py-2 px-4">容量</th>
         <th class="py-2 px-4">税抜価格</th>
         <th class="py-2 px-4">商品ジャンル</th>

        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
         <tr>
           <td class="py-2 px-4"><%= item.id %></td>
           <td class="py-2 px-4"><%= link_to item.name, admin_item_path(item.id), class: "link-line" %></td>
           <td class="py-2 px-4"><%= item.volume %></td>
           <td class="py-2 px-4"><%= item.price.to_s (:delimited) %>円</td>
           <td class="py-2 px-4">
             <% if item.blend_flag == true %>
              <%= blend_flag = "ブレンド商品" %>
             <% else %>
              <%= blend_flag = "通常商品" %>
             <% end %>
          </td>
         </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination col-8 offset-2">
    <%= paginate @items %>
    </div>
  </div>
</div>
</div>
