<div class="container">
  <div class="row">
  　<p class="title col-2 px-4">商品一覧</p>
  </div>

  <div class="row">
    <div class="col-2 offset-1 mt-2">
      <%= link_to "商品登録", new_admin_item_path, class: "btn btn-success" %>
    </div>
  </div>

  <div class="row">
    <table class="offset-1 mt-3 table-hover table-striped">
      <thead>
        <tr>
         <th class="py-2 px-4">商品ID</th>
         <th class="py-2 px-4">商品名</th>
         <th class="py-2 px-4">容量</th>
         <th class="py-2 px-4">税抜価格</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
         <tr>
           <td class="py-2 px-4"><%= item.id %></td>
           <td class="py-2 px-4"><%= link_to item.name, admin_item_path(item.id) %></td>
           <td class="py-2 px-4"><%= item.volume %></td>
           <td class="py-2 px-4"><%= item.price.to_s (:delimited) %>円</td>
         </tr>
        <% end %>
      </tbody>

    </table>
  </div>


</div>
