<div class="container">
 <div class="row my-2">
  <p class="title col-2 offset-1 px-4">商品詳細</p>
 </div>
 <div class="row mt-5">
  <div class="image col-5">
    <%= image_tag @item.image_id, size: "300x240"%>
    <div class="average-review-rating mt-3" data-score=<%= @item.avg_score %>></div>
      <p>レビュー
      <%= link_to admin_item_comments_path(@item) do %> (<%= @item.comments.count %>)
      <% end %></p>
  </div>

  <div class="col-2">
    <p class="">商品名</p>
    <p class="">容量</p>
    <p class="">税込価格（税抜価格）</p>
    <p class="">製品ジャンル</p>
    <p class="">商品説明</p>
  </div>
  <div class="col-4">
    <p><%= @item.name %></p>
    <p><%= @item.volume %></p>

    <p><%= @item.add_tax_price.to_s (:delimited) %>
    (
    <%= @item.price.to_s (:delimited) %>)円
    <% if @item.blend_flag == false %>
     <p><%= blend_flag = "通常商品" %></p>
    <% else %>
     <p><%= blend_flag = "ブレンド商品" %></p>
    <% end %>
    <p><%= safe_join(@item.introduction.split("\n"),tag(:br)) %></p>
    <div class="text-right"><%= link_to "編集する", edit_admin_item_path(@item.id), class: 'btn btn-outline-success' %></div>
  </div>
 </div>
 <script>
  $('.average-review-rating').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
　</script>
</div>
