<div class="bc">
<div class="container">
 <div class="row mt-5">
  <div class="image col-4">
    <%= image_tag @item.image_id, size: "300x240", class: "img-fluid" %>
    <div class="average-review-rating mt-3" data-score=<%= @item.avg_score %>></div>
      <p>レビュー
      <%= link_to admin_item_comments_path(@item), class: "link-line" do %>（ <%= @item.comments.count %> ）
      <% end %></p>
  </div>

  <div class="col-7">
    <table class="table item-show">
      <thead>
        <tr><th class="w-50">商品名</th><td class="w-50 h5"><%= @item.name %></td></tr>
        <tr><th>容量</th><td><%= @item.volume %></td></tr>
        <tr><th>税込価格（税抜価格)</th><td><%= @item.add_tax_price.to_s (:delimited) %>
                                            (
                                           <%= @item.price.to_s (:delimited) %>) 円</td></tr>
        <tr><th class="align-baseline">製品ジャンル</th><td class="align-baseline"><% if @item.blend_flag == true %>
                                     <p><%= @item.blend_flag ="ブレンド商品" %></p>
                                     <% else %>
                                     <p><%= @item.blend_flag ="通常商品" %></p>
                                     <% end %></td></tr>
        <tr><th class="align-baseline">商品説明</th><td><%= safe_join(@item.introduction.split("\n"),tag(:br)) %></td></tr>
        <tr><th class="align-baseline">おすすめブレンド</th><td class="border-bottom"><%= @item.blend_example %></td></tr>
      </thead>
    </table>
    <div class="text-right "><%= link_to "編集する", edit_admin_item_path(@item.id), class: 'btn btn-outline-success mt-1' %></div>
  </div>
 <script>
  $('.average-review-rating').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
　</script>
</div>
</div>
