<div class="container">
 <div class="row">
    <p class="h4 col-sm-8 offset-sm-2 mt-5 mb-5 text-secondary text-center">レビュー編集</p>
 </div>

 <%= form_with model: @comment, url:comment_path(@comment), local:true do |f| %>
 <div class="row">
    <label for="comment_content": class="col-sm-2 offset-sm-2 mt-3 text-secondary">商品名</label>
    <div class="col-sm-8 mt-2 text-secondary font-weight-bold" ><%= @comment.item.name %></div><br>
    <label for="rate": class="col-sm-2 offset-sm-2 mt-2 mr-3 text-secondary">星評価</label>
    <div id="rate-<%= @comment.id %>"></div>
    <script>
          $('#rate-<%= @comment.id %>').empty();
          $('#rate-<%= @comment.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            score: <%= @comment.rate %>,
            scoreName: 'comment[rate]',
        });
    </script>

 </div>
 <div class="row">
    <label for="comment_content": class="col-sm-2 offset-sm-2 mt-3 text-secondary">レビュー</label>
    <div class="col-sm-8 mt-3"><%= f.text_area :comment_content, size: "50" %></div>
 </div>
 <div class="row mb-5">
    <div class="col-sm-2 offset-sm-4 mt-4">
      <%= f.submit :編集内容を保存, class: 'btn btn-outline-success py-2 px-3' %>
    </div>
 </div>
 <% end %>
</div>