<div class="bc">
<div class="container">
  <div class="row">
    <p class="title h4 text-secondary offset-2"><%= @item.name %> のレビュー 一覧</p>
  </div>
  <% if @comments.empty? %>
    <p class="text-secondary offset-2 mt-3">まだ <%= @item.name %> のレビューはありません</p>
  <% end %>
  <div class="row">
    <% @comments.each do |comment| %>
    <div class="card col-8 offset-2 mt-2 text-secondary">

    <p class="mb-auto mt-2">投稿者：<%= comment.customer.nickname %> さん</p>
    <div id="rate-<%= comment.id %>"></div>
    <script>
          $('#rate-<%= comment.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            score: <%= comment.rate %>,
        });
    </script>
    <p class="border-top mt-2">レビュー：<%= comment.comment_content %></p>
   </div>
   <% end %>
 </div>
</div>
</div>