<div class="container">
 <div class="row mt-1 h-25">
   <P class="h4 col-10 offset-1 text-secondary">NEW!</P>
   <% @items.each do |item| %>
   <div class="col-2 offset-1">
     <%= link_to item_path(item) do %>
      <div class="image mb-2 mr-5"><%= image_tag item.image_id, size: "180x120" %></div>
       <p><%= item.name %><%= item.volume %></p>
      <p><%= item.price %>円</p>
      <% end %>
   </div>
   <% end %>
  </div>

 <div class="row mt-1 h-25">
 <P class="h4 col-11 offset-1 text-secondary mt-3">評価数ランキング</P>
 <% @item_comment_ranks.each.with_index(1) do |item, i| %>
   <div class="col-2 offset-1">
  <%= link_to item_path(item) do %>
      <p class="h5 text-secondary">No.<%= i %></p>
      <div class="image mb-2 mr-5"><%= image_tag item.image_id, size: "180x120" %></div>
      <p><%= item.name %><%= item.volume %></p>
      <p><%= item.price %>円</p>
  <% end %>
  </div>
 <% end %>
 </div>


</div>