<div class="bc">
<div class="container">
 <div class="row mt-1 h-25">
   <P class="h4 col-10 offset-1 text-secondary">新着商品</P>
   <% @items.each do |item| %>
   <div class="col-3 offset-1">
     <%= link_to item_path(item) do %>
      <div class="image mb-2 mr-5"><%= image_tag item.image_id, size: "210x140" %></div>
       <p><%= item.name %><%= item.volume %>　　<%= item.price %>円</p>
      <% end %>
   </div>
   <% end %>
  </div>

 <div class="row mt-1">
 <P class="h4 col-11 offset-1 text-secondary mt-3">ランキング</P>

 <% @item_comment_ranks.each.with_index(1) do |item, i| %>
  <div class="col-3 offset-1">
  <%= link_to item_path(item) do %>
      <p class="h5 text-secondary">No.<%= i %></ps>
      <div class="image mb-2 mr-5"><%= image_tag item.image_id, size: "210x140" %></div>
      <div class="average-review-rating mt-1" data-score=<%= item.avg_score %>></div>
      <p><%= item.name %><%= item.volume %>　<%= item.price %>円</p>
  <% end %>
  </div>
 <% end %>
 </div>
 <script>
  $('.average-review-rating').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
　</script>


</div>
</div>