<div class="bc">
<div class="container">
 <div class="row pb-3">
  <% if flash[:notice] %>
  <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
  <% end %>
  <div class="col-sm-12">
　 <div class="top-bg h1 col-sm-10 offset-1 mt-2"> Welcome To Aroma Style</div>
 </div>
 <div class="row offset-1 mt-5">
　 <p class="h5 text-secondary font-weight-bold ml-5 mt-3 mr-0">ランキング</p>
 </div>
 <div class="row offset-2 mt-5">
     <div class="top-ranking">
     <% @item_comment_ranks.each.with_index(1) do |item, i| %>
      <%= link_to item_path(item), class: "link mx-3" do %>
        <p class="h6 text-secondary">No.<%= i %></p>
        <div class="image"><%= image_tag item.image_id, size: "170x110" %></div>
        <div class="average-review-rating mt-1" data-score=<%= item.avg_score %>></div>
        <p><%= item.name %><%= item.volume %><br><%= item.price %>円</p>
      <% end %>
     <% end %>
     </div>
 </div>

 <div class="row offset-1">
　 <p class="h5 text-secondary font-weight-bold ml-5 mr-3 mt-3">新着商品</p>
 </div>
 <div class="row offset-2 mt-3">
     <div class="top-ranking">
     <% @items.each do |item| %>
      <%= link_to item_path(item), class: "link mx-3" do %>
        <div class="image"><%= image_tag item.image_id, size: "170x110" %></div>
        <p><%= item.name %><%= item.volume %><br><%= item.price %>円</p>
      <% end %>
     <% end %>
     </div>
 </div>


　 <% if @today == 3 || 4 || 5 %>
  　<div class="card topic-card spring col-sm-10 offset-1 mb-5 p-2" style="width:auto;">
    <div class="row no-gutters">
      <div class="col-sm-4 mt-4 ml-2">
        <%= image_tag 'spring.jpg', class: 'img-fluid card-img' %>
      </div>
      <div class="col-sm-7">
        <div class="card-body text-secondary">
          <h4 class="card-title font-weight-bold">春のおすすめ</h4>
          <p class="card-text">暖かくなってきました。新生活のスタートを迎える方も多いのではないでしょうか。<br>緊張を解きほぐすには
          <%= link_to 'グレープフルーツ', 'items/12' %>
          のフレッシュな香りを。また、花粉症や季節の変わり目の風邪の対策には
          <%= link_to 'ユーカリ', 'items/14' %>や
          <%= link_to 'ティーツリー', 'items/3' %>がおすすめです。</p>
        </div>
      </div>
     </div>
    </div>

    <% elsif @today == 6 || 7 || 8 %>
  　<div class="card topic-card summer offset-1  mb-5 p-2" style="width:auto;">
    <div class="row no-gutters">
      <div class="col-lg-6">
        <%= image_tag 'summer.jpg', class: 'img-fluid card-img' %>
      </div>
      <div class="col-lg-6">
        <div class="card-body text-secondary">
          <h4 class="card-title font-weight-bold">夏のおすすめ</h4>
          <p class="card-text">暑さが厳しくなる夏にはハーブ系の香りがおすすめです。<br>
          <%= link_to 'ペパーミント', 'items/12' %>や<%= link_to 'ローズマリー', 'items/12' %>
          は清涼感たっぷりです。<br>
          ブレンドオイルにもハーブ系をプラスしてみてはいかがでしょうか。</p>
        </div>
      </div>
    </div>
    </div>
    <% elsif @today == 9 || 10 || 11 %>
    <div class="card topic-card autumn offset-1  mb-5 p-2" style="width:auto;">
    <div class="row no-gutters">
      <div class="col-lg-6">
        <%= image_tag 'autumn.jpg', class: 'img-fluid card-img' %>
      </div>
      <div class="col-lg-6">
        <div class="card-body text-secondary">
          <h4 class="card-title font-weight-bold">秋のおすすめ</h4>
          <p class="card-text">秋は気温の変化もあり体調管理をしっかりしたいですね。<br>
         <%= link_to 'ラベンダー', 'items/7' %>は気分をゆったりと落ち着かせ<%= link_to 'ベルガモット', 'items/6' %>
          は紅茶のアールグレイの香りにも使われており柑橘系の甘くフルーティーな香りが秋にぴったりです。</p>
        </div>
      </div>
    </div>
    </div>
    <% else %>
    <div class="card topic-card winter offset-1  mb-5 p-2" style="width:auto;">
    <div class="row no-gutters">
      <div class="col-lg-6">
        <%= image_tag 'winter.jpg', class: 'img-fluid card-img' %>
      </div>
      <div class="col-lg-6">
        <div class="card-body text-secondary">
          <h4 class="card-title font-weight-bold">冬のおすすめ</h4>
          <p class="card-text">自然と室内で過ごす時間が増えがちな冬がやってきました。ぜひアロマオイルでリラックスしてみてください。<br>
         特に冷える日には<%= link_to 'カモミール', 'items/18' %>で心と体を温め質の良い眠りを。また<%= link_to '柚子', 'items/16' %>
          は冬に大人気です。</p>
        </div>
      </div>
    </div>
    </div>
   <% end %>
  </div>
  </div>
 </div>
 </div>

<script>
     $('.average-review-rating').raty({
      size: 20,
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      score: function() {
        return $(this).attr('data-score')
      }
     });
　  </script>