<div class="bc">
<div class="container">
  <div class="row">
   <p class="h4 col-sm-3 offset-sm-2 mt-3 text-secondary">顧客一覧</p>
  </div>
  <table class="table-bordered table-responsive-sm offset-sm-2  mt-3 center-block">
   <thead>
      <tr class="text-center text-secondary">
        <th class="py-2 px-2">会員ID</th>
        <th class="py-2 px-2">氏名</th>
        <th class="py-2 px-2">住所</th>
        <th class="py-2 px-2">メールアドレス</th>
        <th class="py-2 px-2">ステータス</th>
      </tr>
   </thead>
   <tbody>
    <% @customers.each do |customer| %>
      <tr class="text-center">
        <td class="py-2 px-2"><%= customer.id %></td>
        <td class="py-2 px-2 text-dark"><%= link_to customer.name, admin_customer_path(customer.id), class: "link-line" %></td>
        <td class="py-2 px-2">〒<%= customer.postal_code %> <%= customer.address %></td>
        <td class="py-2 px-2"><%= customer.email %></td>
        <td class="pt-3"><% if customer.is_active == true %>
                              <p class="font-weight-bold text-center"><%= is_active = "有効" %></p>
                              <% else %>
                              <p class="text-black-50 font-weight-bold text-center"><%= is_active = "退会" %></p>
                              <% end %>
        </td>
      </tr>
    <% end %>
   </tbody>
  </table>
  <div class="pagination col-sm-8 offset-sm-2">
    <%= paginate @customers %>
  </div>
 </div>
</div>
</div>