<div class="conteiner">
  <div class="row">
   <p class="h5 text-secondary col-sm-6 offset-sm-1 mt-4 mb-4">注文履歴詳細</p>
  </div>
  <div class="row mb-5">
    <table class="table-responsive-sm offset-sm-2 col-sm-5 center-block">
      <thead>
        <tr><th class="py-2 text-secondary">購入者</th><td class="py-2"><%= link_to admin_customer_path(@order.customer), class: "link-line" do %>
                       <%= @order.customer.name %> 様
                       <% end %></td></tr>
        <tr><th class="py-2 text-secondary">注文日</th><td class="py-2"><%= @order.created_at.strftime('%Y/%m/%d') %></td></tr>
        <tr><th class="py-2 text-secondary">配送先</th><td class="py-2">〒<%= @order.postal_code %><%= @order.address %><br><%= @order.name %> 様</td></tr>
        <tr><th class="py-2 text-secondary">支払い方法</th><td class="py-2"><%= @order.payment_i18n %></td></tr>
        <tr><th class="py-2 text-secondary">発送ステータス</th><td class="py-2"><%= form_with model: @order, url: admin_order_path(@order), local: true, method: :patch do |f| %>
                                       <%= f.select :shipping_status, Order.shipping_statuses.keys.map {|k| [I18n.t("enums.order.shipping_status.#{k}"), k]} %>
                                       <%= f.submit "更新", class: 'btn btn-outline-success py-0' %>
                                       <% end %></td></tr>
      </thead>



  </div>
  <div class="row">
    <table class="table-bordered table-responsive-sm col-sm-6 offset-sm-1 mt-4">
      <thed>
        <tr class="text-secondary text-center">
          <th class="py-2 px-2">商品名</th>
          <th class="py-2 px-2">容量</th>
          <th class="py-2 px-2">単価(税込)</th>
          <th class="py-2 px-2">数量</th>
          <th class="py-2 px-2">小計</th>
          <th class="py-2 px-2">ステータス</th>
        </tr>
      </thed>
      <tbody>
      <% @total = 0 %>
      <% @order_details.each do |order_detail| %>
       <tr>
         <td class="py-2 px-2"><%= order_detail.item.name %><br><%= order_detail.selected %></td>
         <td class="py-2 px-2 text-center"><%= order_detail.item.volume %></td>
         <td class="py-2 px-2 text-center"><%= order_detail.item.add_tax_price.to_s (:delimited) %>円</td>
         <td class="py-2 px-2 text-center"><%= order_detail.amount %></td>
          <% @subtotal = order_detail.item.add_tax_price*order_detail.amount %>
         <td class="py-2 px-2 text-center"><%= @subtotal.to_s (:delimited) %>円</td>
         <% @total += @subtotal %>
         <td class="py-2 text-center"><%= form_with model: order_detail, url: admin_order_detail_path(order_detail), local: true, method: :patch do |f| %>
           <%= f.select :status, OrderDetail.statuses.keys.map {|k| [I18n.t("enums.order_detail.status.#{k}"), k]} %>
            <%= f.submit "更新", class: 'btn btn-outline-success' %>
           <% end %></td>
      <% end %>

      </tbody>
    </table>
    <div class="col-sm-4 offset-sm-1 mt-5">
      <% @bill = @total + @order.shipping_fee.to_i %>
       <table class="table-bordered">
         <thed>
           <tr><th class="py-2 px-4 text-secondary">商品合計</th><td class="py-2 px-4"><%= @total.to_s (:delimited) %>円</td></tr>
           <tr><th class="py-2 px-4 text-secondary">送料</th><td class="py-2 px-4"><%= @order.shipping_fee %>円</td></tr>
           <tr><th class="font-weight-bold py-2 px-4 text-secondary">請求金額合計</th><td class="font-weight-bold py-2 px-4"><%= @bill.to_s (:delimited) %>円</td></tr>
         </thed>
       </table>
    </div>
  </div>
</div>