<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-1 m-3">
      <p class="title h4 offset-sm-1 text-secondary"><i class="fa-solid fa-cart-shopping"></i>  ショッピングカート</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-11 offset-sm-1 mt-2">
      <table class="table-bordered table-responsive-sm">
        <thead>
          <tr class="text-secondary">
            <th class="py-2 px-5">商品名</th>
            <th class="py-2 px-3">容量</th>
            <th class="py-2 px-3">価格(税込）</th>
            <th class="py-2 px-5">数量</th>
            <th class="py-2 px-5">小計</th>
            <th class="py-2 px-5"></th>
          </tr>
        </thead>
        <tbody>
          <% @total = 0 %>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td class="py-2 px-4"><%= cart_item.item.name %><br>
                                  <% if cart_item.item.blend_flag == true %>
                                   <%= cart_item.selected %>
                                  <% end %></td>
            <td class="py-2 px-2 text-center"><%= cart_item.item.volume %></td>
            <td class="py-2 px-2 text-center"><%= cart_item.item.add_tax_price.to_s (:delimited) %>円</td>
            <td class="py-2 px-4"><%= form_with model: cart_item, url: cart_item_path(cart_item), local: true, method: :patch do |f| %>
                                  <%= f.number_field :amount, min: 1, max: 5 %>
                                  <%= f.submit "変更", class: 'btn btn-outline-success' %>
                                  <% end %></td>
            <td class="py-2 px-4 text-center"><%= cart_item.subtotal.to_s (:delimited) %>円</td>
            <% @total +=  cart_item.subtotal %>
            <td class="py-2 px-4"><%= link_to "削除", cart_item_path(cart_item), method: :delete, class: 'btn btn-outline-danger' %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="mt-4 mr-5">
        <%= link_to "カートを空にする", cart_items_empty_path, method: :delete, class: 'btn btn-outline-danger px-3 mb-3'%><br>

        <%= link_to "ショッピングを続ける", items_path, class: 'btn btn-outline-success px-3 mr-5 mb-3'%></div>
      </div>
    </div>
  </div>

  <div class="row">
      <table class="col-sm-3 offset-sm-6 mt-2 total-table table-bordered border-dark">
      <tr><th class="py-3 px-3 text-center text-secondary">合計金額</th><td class="py-3 px-4 text-center"><%= @total.to_s (:delimited) %>円</td></tr>
      </table>
  </div>

   <% if @cart_items.blank? %>
   <% else %>
    <div class="row mb-5">
      <div class="col-sm-3 offset-sm-6">
      <%= link_to "情報入力に進む", new_order_path, class: 'btn btn-outline-success btn-block py-2 px-5 mt-4 ml-2' %>
      </div>
    </div>
   <% end %>
   </div>
</div>