<div class="bc">
<div class="container">
  <div class="row">
    <p class="title h4 text-secondary col-2 mt-3">注文履歴一覧</p>
  </div>
  <div class="row">
    <table class="col-12 mt-3 table-bordered">
      <thead>
        <tr class="text-center text-secondary">
          <th class="py-2 px-1">注文日</th>
          <th class="py-2 px-1">配送先</th>
          <th class="py-2 px-1">商品名</th>
          <th class="py-2 px-1">お支払金額</th>
          <th class="py-2 px-1">発送状況</th>
        </tr>
      </thead>
      <% @orders.each do |order| %>
      <tbody>
        <tr>
          <td class="py-2 px-1 text-center"><%= link_to order_path(order), class: "link-line" do %><%= order.created_at.strftime('%Y/%m/%d') %><% end %></td>
          <td class="py-2 px-1">〒<%= order.postal_code %> <%= order.address %><br><%= order.name %> 様</td>
          <td class="py-2 px-1"><% order.order_details.each do |order| %>
                                <%= order.item.name %><br>
                                <%= order.selected %>
                                <% end %></td>
          <td class="py-2 px-1 text-center"><%= order.bill.to_s (:delimited) %>円</td>
          <td class="py-2 px-1 text-center"><%= order.shipping_status_i18n %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <div class="pagination col-8 offset-2">
    <%= paginate @orders %>
    </div>
  </div>
</div>
</div>