<div class="bc">
<div class="container">
  <div class="row">
    <p class="offset-sm-2 h4 px-3 mb-4 text-secondary">商品一覧</p>
  </div>
  <div class="row">
    <div class="offset-sm-2 col-sm-8 mb-4">
      <%= search_form_for @a, url: items_search_path	 do |f| %>
        <%= f.search_field :name_or_introduction_cont, placeholder: 'search' %>
        <%= f.button :type => "submit", style: 'border-style: none;' do %>
         <i class='fa-solid fa-magnifying-glass'></i>
       <% end %>

      <% end %>
    </div>
  </div>

  <div class="row">
    <h4 class="items-title offset-sm-2 col-sm-9 mt-3 mb-4 border-bottom text-secondary">ブレンド商品<span class="h5">(お好きな香りを組み合わせて作るオリジナルのアロマオイル)</span><h4>
    <div class="item-index-card card-deck">
       <% @items_blend.each do |item_blend| %>
       <div class="item-card-resp ml-5">
         <%= link_to item_path(item_blend), class: "link-line" do %>
         <div class="image"><%= image_tag item_blend.image_id, size: "240x190", class: "img-fluid" %></div>
         <h6><%= item_blend.name %><%= item_blend.volume %>  <%= item_blend.price %>円</h6>
         <% end %>
         <div class="average-review-rating mt-1" data-score=<%= item_blend.avg_score %>></div>
         <h6>レビュー <%= link_to item_comments_path(item_blend), class: "link-line" do %>（ <%= item_blend.comments.count %> ）</h6>
         <% end %>
       </div>
       <% end %>
    </div>
  </div>

  <div class="row">
    <h4 class="items-title offset-sm-2 col-sm-9 mt-3 mb-4 border-bottom text-secondary"> 通常商品</h4>
    <div class="item-index-card card-deck">
      <% @items.each do |item| %>
      <div class="item-card-resp ml-5">
        <%= link_to item_path(item), class: "link-line" do %>
        <div class="image"><%= image_tag item.image_id, size: "240x190", class: "img-fluid" %></div>
        <h6><%= item.name %> <%= item.volume %>  <%= item.price %>円</h6>
        <% end %>
        <div class="average-review-rating mt-1" data-score=<%= item.avg_score %>></div>
        <h6 class="mb-4">レビュー <%= link_to item_comments_path(item), class: "link-line" do %>（ <%= item.comments.count %> ）</h6>
        <% end %>
     </div>
     <% end %>
    </div>
    <div class="pagination col-sm-8 offset-sm-2">
     <%= paginate @items %>
    </div>
  </div>
  <script>
  $('average-review-rating').empty();
  $('.average-review-rating').raty({
    readOnly: true,
    size: 20,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
　</script>
</div>
</div>



