<div class="bc">
<div class="container">
  <div class="row">
    <p class="offset-2 h4 px-3 mb-4 text-secondary">商品一覧</p>
  </div>
  <div class="row">
    <div class="offset-2 col-8 mb-4">
      <%= search_form_for @a, url: items_search_path	 do |f| %>
        <%= f.search_field :name_or_introduction_cont, placeholder: 'search' %>
        <%= f.button :type => "submit", style: 'border-style: none;' do %>
         <i class='fa-solid fa-magnifying-glass'></i>
       <% end %>

      <% end %>
    </div>
  </div>

  <div class="row">
    <p class="offset-2 h5 mt-3 mb-4 text-secondary">ブレンド商品　(お好きな香りを組み合わせて作るオリジナルのアロマオイル）</p>
    <div class="items col-9 offset-2 border-top pt-4">
    <% @items_blend.each do |item_blend| %>
      <%= link_to item_path(item_blend), class: "link-line" do %>
      <div class="image mx-3 my-2">
        <%= image_tag item_blend.image_id, size: "220x180" %>
      </div>
      <p class="ml-3"><%= item_blend.name %><%= item_blend.volume %>  <%= item_blend.price %>円</p>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <p class="offset-2 h5 mt-5 mb-4 text-secondary"> 通常商品</p>
    <div class="items col-9 offset-2  border-top pt-4">
    <% @items.each do |item| %>
      <%= link_to item_path(item), class: "link-line" do %>
      <div class="image mx-3 my-2">
        <%= image_tag item.image_id, size: "220x180" %>
      </div>
      <p class="ml-3"><%= item.name %><%= item.volume %>  <%= item.price %>円</p>
      <% end %>
    <% end %>
    </div>
    <div class="pagination col-8 offset-2">
    <%= paginate @items %>
  </div>

  </div>
</div>
</div>