<!DOCTYPE html>
<html>
  <head>
    <title>AromaStyle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
    <% if customer_signed_in? %>
     <div class="container">
       <div class="row justify-content-center">
         <div class="logo col-12  m-4 text-center">
            <a class="navbar-brand" href="/"><%= image_tag '/assets/logo_black.png' %></a>
         </div>
       <div class="row justify-content-center mb-4">
         <nav class="navbar navbar-expand-lg ">
          <ul class="navbar-nav mt-2">
            <li class=""><%= link_to about_path do %><p class="h5 font-weight-bold">About</p><p class="font-weight-normal">Aroma Styleについて</p><% end %></li>
            <li class="ml-4"><%= link_to items_path do %><p class="h5 font-weight-bold">Products</p><p class="font-weight-normal">商品一覧</p><% end %></li>
            <li class="ml-4"><%= link_to cart_items_path do %><p class="h5 font-weight-bold">Cart</p><p class="font-weight-normal">お買い物かご</p><% end %></li>
            <li class="ml-4"><%= link_to customers_mypage_path do %><p class="h5 font-weight-bold">My Page</p><p class="font-weight-normal">マイページ</p><% end %></li>
            <li class="ml-4"><%= link_to destroy_customer_session_path, method: :delete do %><p class="h5 font-weight-bold">Log Out</p><p class="font-weight-normal">ログアウト</p><% end %></li>
          </ul>
         </nav>
       </div>
     </div>
     <% elsif admin_signed_in? %>
     <div class="container">
       <div class="row justify-content-center">
         <div class="logo col-12  m-4 text-center">
            <a class="navbar-brand" href="/"><%= image_tag '/assets/logo_black.png' %></a>
         </div>
       <div class="row justify-content-center mb-4">
         <nav class="navbar navbar-expand-lg ">
          <ul class="navbar-nav mt-2">
            <li class=""><%= link_to admin_homes_top_path do %><p class="h5 font-weight-bold">Orders</p><p class="font-weight-normal">注文履歴一覧</p><% end %></li>
            <li class="ml-4"><%= link_to admin_customers_path do %><p class="h5 font-weight-bold">Customers</p><p class="font-weight-normal">顧客一覧</p><% end %></li>
            <li class="ml-4"><%= link_to admin_items_path do %><p class="h5 font-weight-bold">Products</p><p class="font-weight-normal">商品一覧</p><% end %></li>
            <li class="ml-4"><%= link_to destroy_admin_session_path, method: :delete do %><p class="h5 font-weight-bold">Log Out</p><p class="font-weight-normal">ログアウト</p><% end %></li>
          </ul>
         </nav>
       </div>
     </div>
     <% else %>
     <div class="container">
       <div class="row justify-content-center">
         <div class="logo col-12  m-4 text-center">
            <a class="navbar-brand" href="/"><%= image_tag '/assets/logo_black.png' %></a>
         </div>
       </div>
       <div class="row justify-content-center mb-4">
         <nav class="navbar navbar-expand-lg">
          <ul class="navbar-nav mt-2">
            <li class=""><%= link_to about_path do %><p class="h5 font-weight-bold">About</p><p class="font-weight-normal">Aroma Styleについて</p><% end %></li>
            <li class="ml-4"><%= link_to items_path do %><p class="h5 font-weight-bold">Products</p><p class="font-weight-normal">商品一覧</p><% end %></li>
            <li class="ml-4"><%= link_to new_customer_registration_path do %><p class="h5 font-weight-bold">Create Account</p><p class="font-weight-normal">新規会員登録</p><% end %></li>
            <li class="ml-4"><%= link_to customer_session_path do %><p class="h5 font-weight-bold">Log In</p><p class="font-weight-normal">ログイン</p><% end %></li>
          </ul>
         </nav>
       </div>
      <% end %>
     </div>
    </header>
    <%= yield %>
  </body>
</html>
